<a href="https://colab.research.google.com/github/christinabrnn/Python-Study/blob/main/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Business Experimentation and Causal Methods

## Assignment 2: Rocket Fuel

### Due Date: 8am, February 6th, 2025

Your Name Here

__Instructions:__

Please read the case about RocketFuel from the HBS Case Pack.
For the assignment you need to read the Rocketfuel case, but answer the questions in the assignment. You can ignore the questions on the HBS website


__Important:__

- Remember to write your name in the above markdown cell.

- Remember to write out your answers in words, don't just output Python statistics.
  - EX: Rather then outputting just `10000.0`, say "TaskaBella made $10,000.00 profit from the campaign."

- Before you submit the notebook, please make sure that the text is readable and does not spill over the right side of the screen. To prevent this from happening, make sure to write your verbal answer in the markdown blocks.
  
- The definitions for the columns in the data are in case! Please read them carefully.

In [ ]:
%%capture
!pip install pingouin # install the package used for statistical analyses

In [ ]:
# import modules and functions
import numpy as np
import pandas as pd
import seaborn as sns
import pingouin as pg
pg.options['round.column.CI95%'] = 6
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
# read data (change the path)
# ads_data = pd.read_csv('/content/drive/MyDrive/rocketfuel_data.csv')
ads_data = pd.read_csv('rocketfuel_data.csv')
ads_data

        user_id  test  converted  tot_impr  mode_impr_day  mode_impr_hour
0       1069124     1          0       130              1              20
1       1119715     1          0        93              2              22
2       1144181     1          0        21              2              18
3       1435133     1          0       355              2              10
4       1015700     1          0       276              5              14
...         ...   ...        ...       ...            ...             ...
588106  1496403     1          0        24              2              19
588107  1496404     1          0       199              6              19
588108  1496405     1          0       211              6              15
588109  1496406     1          0        98              5              19
588110  1496407     1          0        19              2              19

[588111 rows x 6 columns]

### 1. ATE and statistical significance.
#### 1.a What is the $\widehat{ATE}$ of the ads on purchases (conversions)? What does the number mean in words?

In [ ]:
# your code here

The advertising campaign increases the conversion rate by about 0.77 percentage points.

#### 1.b Did the campaign cause more purchases? Is this difference statistically significant?
Hint: Use the pg.ttest function.

### 2. Was the campaign profitable?
#### 2.a How much more profit did TaskaBella make **per person** by showing ads (excluding advertising costs)?
Hint: the profit per conversion is given on page 2 of the case.

#### 2.b What was the cost of the campaign per person (including the control group)?  
Hint: The cost per thousand impressions is $9

#### 2.c Calculate the ROI of the campaign (including the control group). Was the campaign profitable?  
The ROI is calculated by
$$\text{ROI} = \frac{\text{Effect on Profits per Person in Campaign} - \text{Cost of Ads per Person in Campaign}}{\text{Cost of Ads per Person in Campaign}}$$

#### 2.d What was the opportunity cost of including a control group --- how much more could TaskaBella have made by not having a control group at all?
Hint: The opportunity cost is the profits that TaskaBella missed out by having a control group.

### 3. Did the number of impressions seen by each user influence the effectiveness of advertising?

#### 3a. Plot the conversion rate by treatment group and by the number of impressions (groups into ranges, e.g. [0, 100), [100, 500), etc) seen by users.

In [ ]:
# Useful code for creating bins (modify as you like)
bins = pd.IntervalIndex.from_tuples([(0,50), (50,100), (100, 200), (200, 300), (300, 400), (400, 500), (500, 10000)])

ads_data['group_tot_impr'] = pd.cut(ads_data['tot_impr'], bins)

#### 3.b Based on the above figure, can we say that more impressions cause more conversions? (No more than 2 sentences)

### 4 Calculate the power of this experiment.

#### 4.a Calculate Cohen's D without using `pg.ttest`. Cohen's D, in this case, is the estimated average treatment effect on conversion divided by the standard deviation of conversion.

#### 4.b Use the `power_ttest2n` function in `pingouin` to calculate the statistical power of the experiment.

#### 4.c What would the power be instead if the true effect had a cohen's D of .01?

#### 4.d What would the power be instead if the true effect had a cohen's of .01 and the sample was equally split between treatment and control?

### 5. Case Discussion in Class
Please write what you would discuss in your presentation to TaskaBella. Your answer should be one paragraph and the paragraph should be five or fewer sentences. Be prepared to discuss in class. Think about what is the most important thing to say to TaskaBella.
No additional analysis is needed to answer this question.

### How long did this problem set take you in hours? How did you find the level of difficulty?